.flex-container {
    display: flex;
    background: darkgrey;
    overflow-x: auto;
    flex-direction: row;
    justify-content: start;
    row-gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
     list-style-type: none;
 }

ul {
    list-style-type: none;
}

.flex-item {
    background: black;
    padding: 5px;
    width: 300px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    overflow: auto;
}

img {max-width:100%;}

.Flex-item + .Flex-item {
    border-left: solid 3px white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}